.CustomWrapper {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    user-select: none;
}

.carousel {
    position: relative;
}

.next,
.prev {
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-top: 25%;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    z-index: 2;
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.item {
    position: relative;
    width: 300px;
    height: 100px;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.fg {
    cursor: -webkit-grab;
    background-color: #272727;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
    font-size: 3em;
    font-weight: 600;
    transition: box-shadow 0.75s;
}

.fg:active {
    cursor: -webkit-grabbing;
    box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.4);
}

.fg>* {
    pointer-events: none;
}

.av {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}

.drag-main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: -webkit-grab;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-size: 100% auto;
    top: 0;
}

.listitems {
    position: relative;
    width: 320px;
    height: 240px;
}

.listitems>div {
    position: absolute;
    width: 320px;
    height: 90px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 5px;
    color: white;
    line-height: 90px;
    padding-left: 32px;
    font-size: 14.5px;
    cursor: -webkit-grab;
    background: lightblue;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.listitems>div:nth-child(1) {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}

.listitems>div:nth-child(2) {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}

.listitems>div:nth-child(3) {
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}

.listitems>div:nth-child(4) {
    background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
}

.logo {
    position: relative;
}

.pullcard {
    cursor: -webkit-grab;
}

.cardbody {
    position: relative;
    color: white;
}

.footer {
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    font-family: 'Agency FB', Arial;
    align-items: center;
    text-align: center;
    color: black;
    position: relative;
}

#responsive-navbar-nav {
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    font-family: 'Agency FB', Arial;
    position: relative;
}

#links {
    color: black;
}

#links:hover {
    color: red;
}

.content {
    min-height: 70%;
    position: relative;
}

.expanded-card {
    position: relative;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 700px;
    z-index: 1;
    display: grid;
}

.expanded-card-h {
    font-size: 27px;
    color: var(--fg);
    width: 300px;
    padding: 5px;
    background-image: url("https://picsum.photos/id/1024/400");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.expanded-card p {
    width: 300px;
    padding: 5px;
}

.normal-card {
    width: 250px;
    height: 250px;
    margin: 10px;
    display: grid;
    background-image: url("https://picsum.photos/id/1024/400");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.normal-card h1 {
    font-size: 28px;
    color: var(--fg);
    padding: 5px;
    text-align: center;
}